<ol class="breadcrumb">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Notes</li>
</ol>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Notes Detail</h2>
    <div class="card-text">
      <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}" class="m-2">{{ feedback.message }}</div>
      <form *ngIf="note" #editForm="ngForm" (ngSubmit)="save()">
        <div class="form-group">
          <label>Id</label>
          {{note.id || 'n/a'}}
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input [(ngModel)]="note.title" id="title" name="title" class="form-control" required
                 #name="ngModel" [ngClass]="{'is-invalid': name.touched && name.invalid, 'is-valid': name.touched && name.valid}">
          <div [hidden]="name.valid" style="display: block" class="invalid-feedback">
            Title is required
          </div>
        </div>

        <div class="form-group">
          <label for="text">Text</label>
          <input [(ngModel)]="note.text" id="text" name="text" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="cancel()">Cancel</button>
      </form>
    </div>
  </div>
</div>
